body
{
  font-family: 'Inter';
}
.container
{
  margin-top: 3em;
  padding: 2em;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
#formtitle
{
  text-align: center;
}
