body
{
  background-color:#E7EAEE;
}
.containers
{
  margin-top: 0.2em;
  padding: 2em;
  border-radius: 10px;
  background-color: rgb(211, 206, 206);
  margin-bottom: 2em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
#formtitle
{
  text-align: center;
}
